@model IEnumerable<BookRent.Models.BookRentals>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalStart) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.BkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityUser.UserName)
            </td>
            <td>
                @if (item.RentalEnd < DateTime.Now && !item.IsReturned)
                {
                    <p>Expired</p>
                }
                else
                {
                    @Html.DisplayTextFor(modelItem => item.IsReturned)
                }
            </td>
            <td>
                @if (User.IsInRole("creator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (!item.IsReturned) {
                <a asp-action="Returned" asp-route-id="@item.Id">Return</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
