@model BookRent.Models.Books

@{
    ViewData["Title"] = "Details";
}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="~/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="~/Books/Index" class="stext-109 cl8 hov-cl1 trans-04">
            Carti
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @Model.BkName
        </span>
    </div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb=@Model.BkImage>
                                <div class="wrap-pic-w pos-relative">
                                    <img src=@Model.BkImage alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href=@Model.BkImage>
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.BkName
                    </h4>

                    <span class="mtext-90">
                        @Model.BKShortDescription
                    </span>
                    <br />
                    <br />
                    <span class="mtext-106 cl2">
                        Pret: @Model.BkPrice Lei
                    </span>
                    <br />
                    <br />
                    <span class="mtext-106 cl2">
                        Cantitate Disponibila: @Model.Quantity
                    </span>
                    <br />
                    <br />
                    <span class="mtext-106 cl2">
                        <b>Disponibil La: </b>
                        <a asp-controller="Libraries" asp-action="Details" asp-route-id="@Model.LibraryID">
                            @Model.Library.Title
                        </a>
                    </span>
                    <br />
                    <br />

                    <!--  -->

                    <br />
                    @if (Model.Quantity > 0)
                    {
                        <button class="btn btn-outline-info">
                            <a asp-controller="BookRentals" asp-action="Create" asp-route-id="@Model.Id">Imprumuta</a>
                        </button>

                    }
                    else
                    {
                        <button class="btn btn-outline-warning">
                            <a>Indisponibil</a>
                        </button>
                    }
                    @if (User.IsInRole("creator"))
                    {
                        <button class="btn btn-outline-info btn">
                            <a asp-action="Edit" asp-route-id="@Model.Id">Editeaza</a>
                        </button>
                        <button class="btn btn-outline-info">
                            <a asp-action="Delete" asp-route-id="@Model.Id">Sterge</a>
                        </button>

                    }
                </div>
            </div>
        </div>
    </div>

    <div class="bor10 m-t-50 p-t-43 p-b-40">
        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                </li>

                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#information" role="tab">Informatii Aditionale</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-43">
                <!-- - -->
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md">
                        <p class="stext-102 cl6">
                            @Model.BkDescription
                        </p>
                    </div>
                </div>

                <!-- - -->
                <div class="tab-pane fade" id="information" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                            <ul class="p-lr-28 p-lr-15-sm">
                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Categorie:
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        @Model.BkCategory
                                    </span>
                                </li>

                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Numar de Pagini:
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        @Model.BkPageNumber
                                    </span>
                                </li>

                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Scriitor:
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorID">
                                            @Model.Author.Name
                                            </a>
                                    </span>
                                </li>

                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Coperta:
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        @Model.BkCoverType
                                    </span>
                                </li>

                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Limba
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        @Model.BkLanguage
                                    </span>
                                </li>
                                <li class="flex-w flex-t p-b-7">
                                    <span class="stext-102 cl3 size-205">
                                        Editura
                                    </span>

                                    <span class="stext-102 cl6 size-206">
                                        <a asp-controller="Publishers" asp-action="Details" asp-route-id="@Model.PublisherID">
                                            @Model.Publisher.Name
                                            </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


