@model IEnumerable<Books>

@{
    ViewData["Title"] = "Books";
}


<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Search for the book:</label>
        <input type="text" name="SearchString"
               value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.BkName

                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>

                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.BkImage" width="100%" alt="@item.BkName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.BKShortDescription</p>
                            <p class="card-text"><b>Autor: </b>@item.Author.Name</p>
                            <p class="card-text"><b>Categorie: </b>@item.BkCategory</p>
                            <p class="card-text"><b>Pret: </b>@item.BkPrice</p>

                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                </p>
                            </div>
                        </div>
                         @if(item.Quantity > 0) {
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text">
                                        <a class="btn btn-outline-primary float-right" asp-controller="BookRentals" asp-action="Create" asp-route-id="@item.Id">
                                            <i class="bi bi-eye-fill"></i> Rent
                                        </a>
                                    </p>
                                </div>
                            </div>
                         }
                        </div>
                </div>
            </div>
        </div>
    }
</div>
@if (User.IsInRole("creator")) {
    @await Html.PartialAsync("_AddItem", "Books") 
}